body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  padding: auto;
  position: relative;
}
@media screen and (min-width: 768px) {
  body {
    max-width: none;
  }
}

.location__explore-button {
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 15px;
  border-radius: 30px;
  border: transparent;
  box-shadow: 0px 5px 5px #e8e8e8;
}
.location__explore-button:hover {
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: 0px 8px 5px #9c9c9c;
}

@keyframes vanishing_home {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.test {
  animation: vanishing_home 2s 1.5s backwards;
}

.lds-dual-ring {
  display: inline-block;
  position: absolute;
  top: 100px;
  left: 70px;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  position: absolute;
  top: 100px;
  left: 70px;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #9356dc;
  border-color: #9356dc transparent #ff79da transparent;
  -webkit-animation: lds-dual-ring 1.2s linear 2 both;
  animation: lds-dual-ring 1.2s linear 2 both;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 20px 50px 5px;
}

.fa-arrow-left {
  color: black;
}

.container {
  max-width: 375px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: none;
  }
}

footer {
  background-color: #353535;
}

.omf-footer {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .omf-footer {
    align-items: center;
  }
}
.omf-footer h2 {
  margin-bottom: 0px;
  align-items: flex-start;
}
.omf-footer i {
  margin-right: 20px;
  width: 12px;
  height: 14px;
}
.omf-footer ul {
  list-style-type: none;
  padding: 0;
  line-height: 30px;
}
@media screen and (min-width: 1024px) {
  .omf-footer ul {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .omf-footer li {
    margin: 10px;
  }
}
.omf-footer a {
  text-decoration: none;
  color: white;
}
.omf-footer__heading {
  font-family: "Shrikhand", sans-serif;
  color: white;
}

.location__bar {
  text-align: center;
  color: #353535;
  padding: 10px;
  background-color: #e9e9e9;
  box-shadow: inset 0px 2px 0px 0px #d6d6d6;
}
.location__bar i {
  margin: 0px 10px;
}
.location__description {
  background-color: #f6f6f6;
  text-align: center;
  padding: 10px 50px 70px 50px;
}
.location__description p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 30px;
}
.location__description a {
  margin-top: 30px;
}

.functioning {
  padding: 30px 20px;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .functioning h2 {
    text-align: center;
  }
}
.functioning__section {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .functioning__section {
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .functioning__section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.functioning i {
  margin: 0px 20px;
  font-size: 18px;
}
.functioning__item {
  display: flex;
  align-items: center;
  width: 300px;
  border: 1px solid transparent;
  box-shadow: 0px 5px 5px #e8e8e8;
  border-radius: 15px;
  background-color: #f6f6f6;
  font-size: 12px;
  padding: 15px 15px 15px 0px;
  margin: 10px 15px;
}
.functioning__item:hover {
  background-color: #f5edff;
}
.functioning__item:hover i {
  color: #9356dc;
}
.functioning__item h3 {
  margin: 0;
}
.functioning__item .number-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #9356dc;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 15px;
  margin-left: -15px;
}

.logo-new {
  width: 80px;
  color: #2d9b7e;
  background-color: #99e2d0;
  text-align: center;
  padding: 5px;
  position: absolute;
  right: 15px;
  top: 10px;
}

@keyframes fulfill-heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.heart-empty {
  font-size: 30px;
  margin: 0px 30px 0px -10px;
  position: relative;
  z-index: 1;
}
.heart-empty:hover .heart-full {
  animation: fulfill-heart 600ms ease-in-out forwards;
}

.heart-full {
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top left, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  z-index: -1;
}

.restaurant {
  padding: 30px 20px;
  background-color: #f4f4f4;
}
@media screen and (min-width: 768px) {
  .restaurant h2 {
    text-align: center;
  }
}
.restaurant__section {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .restaurant__section {
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant__section {
    display: grid;
    grid-template-rows: 250px 250px;
    grid-template-columns: 335px 335px;
    grid-gap: 30px 30px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
}
.restaurant__card-link {
  text-decoration: none;
  color: black;
}
.restaurant__card {
  position: relative;
  width: 335px;
  height: 250px;
  border: 1px solid transparent;
  box-shadow: 0px 5px 5px #e8e8e8;
  border-radius: 20px;
  margin-bottom: 20px;
}
.restaurant__picture {
  width: 335px;
  height: 180px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.restaurant__description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}
.restaurant__description__text {
  display: flex;
  flex-direction: column;
}
.restaurant__name {
  margin: 5px 10px;
}
.restaurant__location {
  margin: 0px 10px 10px 10px;
  font-weight: 300;
}

main {
  background-color: #f6f6f6;
}

.main__picture {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.menu-page {
  position: relative;
  bottom: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0px 0px 0px;
  background-color: #f6f6f6;
  border: 1px solid transparent;
  border-radius: 50px 50px 0px 0px;
}

.main__heading {
  font-family: "Shrikhand", sans-serif;
  font-size: 25px;
  margin: 10px 0px 10px -15px;
  display: flex;
}

.main__byline {
  margin-left: 10px;
}
.main__byline--text {
  font-weight: 300;
  padding-bottom: 5px;
  margin-bottom: 0;
}
.main__byline--underline {
  width: 45px;
  height: 5px;
  border-bottom: 4px solid #99e2d0;
}

.fa-circle-check {
  display: none;
}

@media screen and (min-width: 1024px) {
  .meal__section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.meal {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
  width: 330px;
  height: 70px;
  background-color: white;
  border: 0px solid transparent;
  border-radius: 15px;
  margin: 15px 10px;
  padding-left: 15px;
  box-shadow: 0px 5px 5px #e8e8e8;
}
@media screen and (min-width: 1024px) {
  .meal {
    width: 310px;
  }
}
.meal h4 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meal__price {
  margin: 40px 20px 20px 0px;
  font-weight: 500;
}
.meal__description {
  line-height: 25px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 60px);
}
.meal__description-byline {
  font-weight: 300;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meal__sidebar {
  width: 0px;
  height: 100%;
  background-color: #99e2d0;
  border-radius: 0px 15px 15px 0px;
}
.meal__sidebar i {
  font-size: 22px;
}
.meal:hover .meal__description {
  width: calc(100% - 130px);
}
.meal:hover .meal__sidebar {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.meal:hover .meal__sidebar i {
  display: inline;
  color: white;
}

.button__commander {
  padding: 15px 50px;
  margin: 40px 0px 0px 0px;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  border-radius: 30px;
  border: transparent;
  box-shadow: 0px 5px 5px #e8e8e8;
}
.button__commander:hover {
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: 0px 8px 5px #9c9c9c;
}

/*# sourceMappingURL=style.css.map */
