$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
.functioning__item {
  display: flex;
  align-items: center;
  .number-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: $color-primary;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}
