//Animation de l'apparition progressive des plats dans les pages menu

$anim-dur: 2500ms;
$num-meal: 10;
$anim-delay: calc($anim-dur / $num-meal);

@keyframes meal-apparition {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(Opx);
  }
}
