.location__explore-button {
  background: linear-gradient(
    to bottom right,
    $color-secondary,
    $color-primary
  );
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 15px;
  border-radius: 30px;
  border: transparent;
  @include item-shadow;
  &:hover {
    background: linear-gradient(
      to bottom right,
      lighten($color-secondary, 5%),
      lighten($color-primary, 5%)
    );
    box-shadow: 0px 8px 5px darken(#e8e8e8, $amount: 30%);
  }
}

.button__commander {
  padding: 15px 50px;
  margin: 40px 0px 0px 0px;
  background: linear-gradient(
    to bottom right,
    $color-secondary,
    $color-primary
  );
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  border-radius: 30px;
  border: transparent;
  @include item-shadow;
  &:hover {
    background: linear-gradient(
      to bottom right,
      lighten($color-secondary, 5%),
      lighten($color-primary, 5%)
    );
    box-shadow: 0px 8px 5px darken(#e8e8e8, $amount: 30%);
  }
}
