.heart-empty {
  font-size: 30px;
  position: absolute;
}
.heart-full {
  font-size: 30px;
  position: relative;
  background: linear-gradient(to top left, $color-secondary, $color-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: 1s;
}
.heart {
  margin: 0px 20px;
  &:hover .heart-full {
    transition: 1s;
    opacity: 1;
  }
}
