.main__heading {
  font-family: "Shrikhand", sans-serif;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  @media screen and (min-width: 375px) {
    margin-left: -40px;
  }
}
.main__byline {
  margin-left: 10px;
  &--text {
    font-weight: 300;
    padding-bottom: 5px;
    margin-bottom: 0;
  }
  &--underline {
    width: 45px;
    height: 5px;
    border-bottom: 4px solid $color-tertiary;
  }
}
.meal__section {
  @media screen and (min-width: 1024px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.meal {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
  width: 290px;
  height: 70px;
  background-color: white;
  border: 0px solid transparent;
  border-radius: 15px;
  margin: 15px 10px;
  padding-left: 15px;
  @include item-shadow;
  animation: meal-apparition $anim-dur ease-in-out both;
  @for $i from 1 to $num-meal {
    &--#{$i} {
      animation-delay: $anim-delay * $i;
    }
  }
  @media screen and (min-width: 375px) {
    width: 330px;
  }
  @media screen and (min-width: 1024px) {
    width: 290px;
  }
  h4 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__price {
    margin: 40px 20px 20px 0px;
    font-weight: 500;
  }
  &__description {
    line-height: 25px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 60px);
    transition: 0.5s;
    &-byline {
      font-weight: 300;
      font-size: 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0px;
    height: 100%;
    background-color: $color-tertiary;
    border-radius: 0px 15px 15px 0px;
    transition: 0.5s;
    overflow: hidden;
  }
  &:hover {
    cursor: grab;
  }
  &:hover .meal__description {
    width: calc(100% - 110px);
    transition: 0.5s;
  }
  &:hover .meal__sidebar {
    transition: 0.5s;
    width: 60px;
  }
  &:hover .fa-circle-check {
    transform: rotate(360deg);
    transition: 0.5s;
    transition-timing-function: ease-out;
  }
}
.fa-circle-check {
  font-size: 22px;
  color: white;
}
