.location {
  &__bar {
    text-align: center;
    padding: 10px;
    background-color: #e9e9e9;
    box-shadow: inset 0px 2px 0px 0px #d6d6d6;
    i {
      margin: 0px 10px;
    }
  }
  &__description {
    background-color: #f6f6f6;
    text-align: center;
    padding: 10px 50px 70px 50px;
    p {
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 30px;
    }
    a {
      margin-top: 30px;
    }
  }
}
.functioning {
  padding: 30px 20px;
  background-color: white;
  h2 {
    @media screen and (min-width: 768px) {
      text-align: center;
    }
  }
  &__section {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      align-items: center;
    }
    @media screen and (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
  i {
    margin: 0px 20px;
    font-size: 18px;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 300px;
    border: 1px solid transparent;
    @include item-shadow;
    border-radius: 15px;
    background-color: #f6f6f6;
    font-size: 12px;
    padding: 15px 15px 15px 0px;
    margin: 10px 15px;
    &:hover {
      background-color: #f5edff;
    }
    &:hover i {
      color: $color-primary;
    }
    h3 {
      margin: 0;
    }
    .number-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: $color-primary;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      font-size: 15px;
      margin-left: -15px;
    }
  }
}
.restaurant {
  padding: 30px 20px;
  background-color: #f4f4f4;
  h2 {
    @media screen and (min-width: 768px) {
      text-align: center;
    }
  }
  &__section {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      align-items: center;
    }
    @media screen and (min-width: 1024px) {
      display: grid;
      grid-template-rows: 250px 250px;
      grid-template-columns: 335px 335px;
      grid-gap: 30px 30px;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
    }
  }
  &__card-link {
    text-decoration: none;
    color: black;
  }
  &__card {
    width: 335px;
    height: 250px;
    border: 1px solid transparent;
    @include item-shadow;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  &__picture {
    width: 335px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }
  &__description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    &__text {
      display: flex;
      flex-direction: column;
    }
  }
  &__name {
    margin: 5px 10px;
  }
  &__location {
    margin: 0px 10px 10px 10px;
    font-weight: 300;
  }
}
.fa-heart {
  font-size: 25px;
  margin: 0px 30px;
}
